{% extends 'layout/base.html.twig'%}
{% block contenido %}
<div class="page-title-container">
<div class="container">
<div class="col-md-12">
<p class="page-title animated bounceInDown">Nuestra Empresa</p>
</div>
</div>
</div>
<section id="features">  
  
  <div class="container">
    
    
    <div class="row">  
    
    <div class="section-title">
      <h1>Nuestra Empresa</h1>
      <h2>Administradora de condominios, conjunto residencials, condominio vacacional, conjunto residencial, estacionaminto y comunidades.</h2>
    </div>

    </div><!-- /row -->
    
    <div class="row">
        <p><strong>Administradora Vicky & Ann, C.A.</strong> es una organización dedicada a la administración de condominio, ventas y alquileres
            de inmuebles, dirigida por universitarias graduadas en Administración y Mercadeo, con más de veinte años de experiencia, lo cual
            agrega un carácter profesional a nuestra gestión, siempre en la búsqueda de la excelencia. Además de ello, disponemos de una plataforma
        tecnológica segura y modernizada, acorde con las exigencias del mundo actual.</p>
        
      </div><!-- /row --> 

      <div class="divied-40"></div>
    <div class="row">  
        <div class="col-sm-6">
            <h4>Nuestra Visión</h4>
            <p>Nuestros esfuerzos están orientados a convertirnos en la Empresa de Administración de Condominios, Ventas y Alquiler de Inmuebles líder y de vanguardia del mercado inmobiliario venezolano, en la cual la Seguridad, Calidad y Confianza son el timón que nos guía por ese camino. La honestidad, transparencia, seriedad, responsabilidad, máxima garantía y solvencia, son nuestro norte a fin de proveer un servicio de calidad en beneficio de los propietarios y la comunidad, garantizando así a nuestros clientes la política de personalidad en Atención al Cliente, cumpliendo a plenitud los requerimientos de manera adecuada y oportuna permitiéndonos alcanzar su completa satisfacción.</p>
        </div>
    
        <div class="col-sm-6">
            <h4>Nuestra Misión</h4>
            <p>Nuestro propósito es brindar a los clientes un servicio integral y profesional; superior en calidad con sólidos principios éticos y morales para desarrollar la mejor actividad en pro de nuestros clientes, asegurando con responsabilidad el cumplimiento de todas las obligaciones que imponen las Leyes y Decretos de la materia.</p>
        </div>
    </div>
  </div><!-- /container -->   
  </section>
{% endblock %}