{% extends 'layout/base.html.twig'%}
{% block titulo %}
{% endblock %}
{% block contenido %}
{{parent()}}
<!--div id="REQUIRED-ID" class="modal fade" data-autoload="true" data-autoload-delay="500">
<div class="modal-dialog modal-lg">
<div class="modal-content">

<div class="modal-body clearfix">

    <img class="img-responsive" src="{#{constant('ROOT')}#}/assets/images/navidad-min.png">
</div>

</div>
</div>
</div-->
{%endblock %}