{% extends 'layout/base.html.twig'%}
{% block contenido %}
<div class="page-title-container">
<div class="container">
<div class="col-md-12">
<p class="page-title animated bounceInDown">Condominio en línea</p>
</div>
</div>
</div>
<section>
<div class="container">
<div class="divied-40"></div>
<div class="row">

<!-- LEFT TEXT -->
<div class="col-md-5 col-md-offset-1">

<h2 class="size-16">Vick & Ann en línea</h2>
<p class="text-muted">Si aún no ha recibido sus credenciales de acceso, o las ha olvidado, puede solicitarlas completando la siguiente información.</p>
<p class="text-muted">Ingrese la dirección de corre electrónico que tiene registrado en nuestros sistemas para enviarle las credenciales de acceso al servicio.</p>


</div>
<!-- /LEFT TEXT -->

<!-- LOGIN -->
<div class="col-md-4">
<!-- Alert Success -->
<div id="alert_success" class="alert alert-success margin-bottom-30">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<strong>Muy bien!</strong> le hemos enviado sus credenciales de acceso!
</div><!-- /Alert Success -->

<!-- Alert Failed -->
<div id="alert_email" class="alert alert-danger margin-bottom-30">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<strong>Ups!</strong> email no registrado! Contacte con la administradora.
</div>
<!-- /Alert Failed -->

<!-- Alert envio -->
<div id="alert_envio" class="alert alert-danger margin-bottom-30">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<strong>Ups!</strong> ocurrió un error al procesar el envío del correo electrónico! Contacte con la administradora.
</div>
<!-- /Alert envio-->

<!-- Alert Mandatory -->
<div id="alert_mandatory" class="alert alert-danger margin-bottom-30">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<strong>Error!</strong> Debe ingresar una cuenta de correo!
</div>
<!-- /Alert Mandatory -->

<h2 class="size-16">RECUPERAR PASSWORD</h2>

<!-- login form -->
<form autocomplete="off" action="php/obtener-credenciales.php" method="post">
<div class="clearfix">

<!-- Apartamento -->
<div class="form-group">
<input required placeholder="Email" class="form-control" name="email" type="email">
</div>
<!-- Password -->
</div>
<div class="row">
<div class="col-md-6 col-sm-6 col-xs-6">
<!-- Inform Tip -->                                        
<div class="form-tip pt-20">
    <a href="{{ constant('ROOT')}}condominio-en-linea.html" class="no-text-decoration size-13 margin-top-10 block">Ir a Vick & Ann en línea</a>
</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-6 text-right">
<button class="btn btn-primary">SOLICITAR</button>
</div>
</div>
</form>
<!-- /login form -->
<!-- ALERT alert-danger -->
<div id="resultado" class="alert alert-mini margin-bottom-30">
</div><!-- /ALERT -->
</div>
<!-- /LOGIN -->
</div>
</div>
</section>
{% endblock %}
{% block javascript1 %}
{{ parent()}}
<script type="text/javascript" src="{{constant('ROOT')}}assets/js/password.js"></script>
{% endblock %}