{% extends 'layout/base.html.twig'%}
{% block contenido %}
<div class="page-title-container">
<div class="container">
<div class="col-md-12">
<p class="page-title animated bounceInDown">Servicios</p>
</div>
</div>
</div>
<section id="more-features" style="padding-bottom: 0">  
  
  <div class="container">
    <div class="divied-40"></div>
    
    <div class="row">  
    
    <div class="section-title">
    <h1>Más servicios</h1>
    <h2>Contamos con un amplio portafolio de servicios para usted.</h2>
    </div>
    
    <div class="col-md-6">
    
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-heart-o"></i>
        </div>  
        <h5>Trámites I.V.S.S. y F.A.O.</h5>
        <p>Inscripción en el I.V.S.S. ante el Sistema Tiuna, solicitud de solvencia, tramitación de inclusión de nuevos asegurados, retiros del seguro y actualización de documentos en el Seguro Social. Inscripción de todo el proceso ante Banavih.
        </p>
      </div><!-- /feature -->     
      
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-cogs"></i>
        </div>  
        <h5>Cambio de administradora</h5>
        <p>Le asesoramos y apoyamos durante el proceso de cambio de su administración, a fin de que el mismo sea transparente y sin complicaciones para la Junta de Condominio, por ende no afecta el movimiento administrativo de la Residencia.<br> 
        Le suministramos toda la documentación e información necesaria para la realización del proceso: Carta consulta a los
        copropietarios (Art.23, Ley de Propiedad Horizontal), solicitud de Finiquito del actual Administrador, recaudos para el 
        inicio del servicio con el nuevo Administrador, base de Datos de Copropietarios, contrato de Administración de Condominio 
        del nuevo Administrador.</p>
        
      </div><!-- /feature -->               
      
    </div><!-- /col-sm-6 -->  
    
    
    <div class="col-md-6">
      
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-cloud"></i>
        </div>  
        <h5>Reglamentación de la LOCYMAT</h5>
        <p>Le brindamos todo el apoyo y la asesoría en el cumplimiento de las condiciones de Ley que aplican a la Residencia como empleador y hacia sus trabajadores.
        Permítanos que trabajemos por usted.</p>
      </div><!-- /feature --> 
      
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-life-ring"></i>
        </div>
        <h5>Disponibilidad de proveedores</h5>
        <p>Colocamos a su disposición nuestra base de datos de Proveedores, para los efectos de contratar servicios esenciales y de mantenimiento para la Residencia; tales como, vigilancia, plomería, electricidad, jardinería, pintura, rejas, mantenimiento de ascensores, bombas, puertas eléctricas, intercomunicadores, fumigación, lectura de medidores, entre otros. Igualmente disponemos de Alianzas Estratégicas con empresas para satisfacer los requerimientos de Albañilería, Pintura, Plomería, Electricidad y todo tipo de Reparaciones y Remodelaciones a realizar en las Residencias para su buen conservamiento y valoración del inmueble.
        </p>
      </div><!-- /feature -->             
      
    </div><!-- /col-sm-6 -->
    
    
    </div>
  </div>
  </section>
<section id="faq" style="padding-top: 0">  
  
    <div class="container">

        <div class="row">

        <div class="section-title">
          <h1>Administración de Condominios</h1>
          <h2>Administración de condominios, conjuntos residenciales, centros comerciales, urbanización y demás comunidades.</h2>
        </div>
      
    <div class="col-sm-12">

      <div class="panel-group">
          <div class="panel panel-default">
              <div class="panel-heading" style="border-left: medium none;">
                  <h4 class="panel-title"><a data-toggle="collapse" href="#collapse1" class="collapsed"><span>Prefacturación</span><i class="pull-right fa fa-plus"></i></a></h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">Adelanto del detalle mensual de los gastos comunes de la Residencia, para aprobación por parte de la Junta de Condominio.</div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading" style="border-left: medium none;">
                  <h4 class="panel-title"><a data-toggle="collapse" href="#collapse2" class="collapsed"><span>Facturación</span><i class="pull-right fa fa-plus"></i></a></h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">Cargo detallado en el Recibo de Condominio de la Residencia de las transacciones realizadas durante el mes (gastos del mes), como lo son los gastos ordinarios, extraordinarios, cuotas, etc.; y detalle del estado de cuentas de la Residencia (fondo de  reserva,  de  prestaciones,  de trabajo, cuentas por cobrar, saldos bancarios)  y algún otro por requerimiento de la Junta de Condominio.</div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title"><a data-toggle="collapse" href="#collapse3" class="collapsed"><span>Reportes</span><i class="pull-right fa fa-plus"></i></a></h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">Más de 150 reportes a su disposición para brindarle información veraz en el momento que ussted lo requiera.</div>
              </div>
          </div>
       
      </div>
      </div>



      </div>

    </div>

  </section>
{% endblock %}
