<!--////////// FOOTER SECTION ////////// -->
<section id="footer">  

<div class="container">

      <div class="row"> 	


            <div class="col-sm-3">
                <img src="images/footerlogo.png" alt="Administrdora Vick&amp;Ann" style="margin-bottom:20px">

            </div><!-- /col-sm-4 -->   

       <div class="col-sm-4">
           <h5>La Empresa</h5>
           <p>Nuestro servicio de administración de condominios está basado en la transparencia y profesionalismo,
           en brindar respuesta oportuna a sus requerimientos y ofrecerle el servicio que usted merece. Haga sus operaciones
           de su cuenta de condominio desde la comodidad de su casa u oficina, a través de Internet.</p>
            </div><!-- /col-sm-2 -->  

       <div class="col-sm-2">
                    <h5>Contáctenos</h5>
                    <ul class="list-unstyled">
                    <li><a href="#">(0212)753 9184</a></li>
                    <li><a href="#">(0212)312 5179</a></li>
                    <li><a href="#">(0212)830 3937</a></li>
                    <li><a href="#">(0212)312 5351</a></li>
                </ul>
            </div><!-- /col-sm-2 -->   

       <div class="col-sm-3">
                    <h5>Ubíquenos</h5>
                    <address>
                Av. Monte Sacro,
                <span>Edf. Mont Blanc, PB</span>
                <span>Colinas de Bello Monte</span>
                <span>Caracas</span>
                <span><a href="mailto:info@administradora-vickyann.com.ve">info@administradora-vickyann.com.ve</a></span>
            </address>

            </div><!-- /col-sm-2 -->   


      </div><!-- /row -->
</div><!-- /container -->
</section>

<!--////////// SUB FOOTER SECTION ////////// -->
<section id="sub-footer">
<div class="container">
  <div class="row">
    <div class="col-lg-8">
        <p class="copyright"><a href="http://www.pronet21.com.ve" target="_blank" style="color:#F66016">Página Web</a> por <a href="http://www.pronet21.com.ve" target="_blank">Pronet21</a><br>
            <a href="http://www.administracion-condominio.com.ve" target="_blank" style="color: rgba(255, 255, 255, 0.5);">Sistema de Administración de Condominio</a> <a href="http://www.administracion-condominio.com.ve" target="_blank" style="color: rgba(255, 255, 255);">Valoriza2</a></p>
    </div>
    <div class="col-lg-4">
      <ul class="social-links">

            <li>
        <a href="#"><i class="fa fa-facebook"></i></a><!-- Facebook Link -->
        </li>

        <li>
        <a href="#"><i class="fa fa-twitter"></i></a><!-- Twitter Link -->
        </li>

        <li>
        <a href="#"><i class="fa fa-google-plus"></i></a><!-- Google+ Link -->
        </li>

        <li>
        <a href="#"><i class="fa fa-youtube"></i></a><!-- YouTube Link -->
        </li>

        <li>
        <a href="#"><i class="fa fa-linkedin"></i></a><!-- Linkedin Link -->
        </li>

        <li>
        <a href="#"><i class="fa fa-dribbble"></i></a><!-- Dribbble Link -->
        </li>

      </ul>
    </div><!-- /col-lg-4 -->
  </div><!-- /row -->
</div><!-- /container -->
</section>