<div class="alert alert-warning fade in">
<h4 class="alert-heading">Estimado propietario(a) {{ session.usuario.nombre }}</h4>
<h2>Le agradecemos ponerse en contacto a la brevedad posible con nuestro departamento legal</h2>
Escríbanos al correo <strong>cobranzas@grupoveneto.com</strong><br />
ó comuníquese al teléfono: <strong>(0251)719 9252</strong><br />
<strong>Dése por notificado de esta comunicación.</strong>
</div>