<div id="topBar">
<div class="container">
<ul class="top-links list-inline pull-right">
<li class="text-welcome">Bienvenido a Administradora Vickyann</li>
<li><a href="{{constant('ROOT')}}condominio-en-linea">CONDOMINIO EN LÍNEA</a></li>
<li><a href="{{constant('ROOT')}}recuperar-password.php">¿Olvidó su password?</a></li>
<li><a href="{{constant('ROOT')}}intranet.php">Intranet</a></li>
</ul>
</div>
</div>