<div class="alert alert-transparent">
<h4>Estimado(a) {{ session.usuario.nombre }} usted no tiene notificaciones.</h4>
Le recordamos mantener su dirección de correo electrónico actualizada.
</div>

<i class="fa fa-bell fa-4x fa-border"></i>